<div class="main-header-div">
    <div class="container">
        <div class="line"></div>
        <div class="content">
            <div class="text">
                Films Website
            </div>
            <div class="login">
                <div class="login-div">
                    <button class="login-button">Log In</button>
                </div>
                <div class="register-div">
                    <button class="register-button">Register</button>
                </div>
            </div>
        </div>
        <div class="line"></div>
    </div>
</div>
